
.blue {
  background-color: rgba(56, 58, 223, 0.58);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.pink {
  background-color: rgb(189, 88, 142);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 210px;
  left: 102px;
}
